[submodule "YouthLete-Machine-Learning"]
	path = YouthLete-Machine-Learning
	url = 
[submodule "YouthLete"]
	path = YouthLete
	url = https://github.com/Fadlanprabaswara/YouthLete
[submodule "YouthLete-api"]
	path = YouthLete-api
	url = 
